.filters {
    background-color: white;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
button {
    background-color: #FF5A5F;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border: none;
    margin: auto 30px auto auto;
}
.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
}
.container .filters h3 {
	font-weight: 600;
	margin: 12px 0 4px 40px;
}

.container .filters h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 7px 0 3px 40px;
}