.places {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    
}
.places h1 {
    width: 100%;
    font-size: 30px;
    margin: 30px 0 0 10px;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid  #FF5A5F;
    border-radius: 4px;
}
.places h2 {
    flex-grow: 1;
    font-size: 30px;
    margin: 10px 0 30px 0;
    text-align: center;
}
.title {
    display: flex;
    flex-direction: row;
}
.price_by_night {
    line-height: 60px;
    text-align: center;
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    min-width: 60px;
    border-radius: 50%;
    height: 60px;
    font-size: 30px;
}
.information {
    flex-flow: row wrap;
    justify-content: center;
    display: flex;
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
}
.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    padding: 10px, 0, 0, 0;
	text-align: center;
	line-height: 25px;
}
.user {
    margin: 20px 0px 5px 0px;
}